@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    width: 0;
}

.book {
    width: 180px;
    height: 255px;
    background-color: rgb(62, 71, 152);
    transition: all 0.3s ease-in-out;
    transform-origin: left center 0px;
    transform-style: preserve-3d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 1px 2px 2px #353d85, 5px 4px 0 #525dc4;
}

.book::after {
    content: " ";
    display: block;
    opacity: 0;
    width: 180px;
    height: 255px;
    position: relative;
    left: 8px;
    transition: all 0.3s ease;
}

.book::before {
    content: " ";
    z-index: 999;
    display: block;
    width: 20px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: -12px;
    right: 8px;
    transition: all 0.25s;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAABhCAYAAABh23lYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHCSURBVHgB7dxPTsJAHMXxN7Xu3UhigobxJHACvQFwAr2BcgO8AZxE7uGiDZiQyEIW7oSOUyKbKgLS8u+9b9JNF818fum0XdWUhy9VEDZBGIdBGD6DsFM3bQYgTnjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNaEZ0141oRnTXjWhGdNeNZ2hR/7o+UcmnCIsaNCbLcU/RR8oB1bO/4+17l8ixoGeIBBBVvMXI0ih+L7Df2j8iiqnvgh+AVVUXDOTZvF4tNb2qC7DJ1tNgSDO78tblFQxeE92l+0NSjZDjaoMowqyYl7hDF15JzL+x+YHtxLgFq/ZO2m8LT4wsb90nUjmMD61XaRc7ng5+jBua29ntsecq6oIWyELxqdLe8h/GvPp+h0T28D/FezZ8Ip7pHgZt3X5NoPvH1BZ5sNIUTDL7C+6hBWxxt0gk+00tsOe96qH0zL8GO4pBtMg/YhoLMtG8Ii/EpfY4fSoiFk8UeFzpYdwhz/jiNGZ0uHEBjUEzftohJFZyAsdX8BM0/amLC3spYAAAAASUVORK5CYII=");
    background-size: 16px;
    background-repeat: no-repeat;
    filter:drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.514))
}

.book div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #10101073;
    width: 7px;
    height: 100%;
    filter: blur(0.5px);
}

/* ----- book-blur ----- */

.book-blur {
    filter: blur(30px);
}

/* ----- hover ----- */

.book:hover {
    cursor: pointer;
    transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
    -webkit-backface-visibility: hidden;
    box-shadow: 1px 3px 2px #353d85, 20px 8px 0 #525dc4;
    /* transform: scale(1.02); */
}

.book:hover::after {
    content: " ";
    display: block;
    opacity: 1;
    width: 172px;
    height: 255px;
    position: relative;
    left: 8px;
    background: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0) 60%
    );
}

.book:hover::before {
    transform: translateY(9px);
    opacity: 1;
}
